@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Réinitiliser la page par défaut */
body{

    /* Paramètre par défaut */
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   /* pour que le calcul se fasse bien au niveau de nos boites */

    /* -------- */
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration :none;      /*enlever les underline du a*/
}
/* ===================== Contrôler la Taille de nos élemensts ====================== */
        /* =========== Class Utilitaire =========== */

        /* Titre */
.header_0{
    font-size: 86px;
    font-weight: 500;
}

h1,h2,h3,h4,h5{ font-weight: 500px; text-transform: capitalize;}

.header_1{
    font-size: 63px;
}

.header_2{
    font-size: 36px;
}

.center-text{
    text-align: center;
}

.ptb1{ padding: 40px 0;}

.container {
    max-width: 1280px;
    margin: auto;/* centrer le contenu */
    overflow: hidden;   /* s'il y a du contenu qui dépasse */
}
    /* Bouton */
.btn{
    color: #1d1d1d;
    background-color:white;
    padding: 10px 20px;
    border-radius: 4px;
}

/* ============================== NAVBAR ============================== */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #1d1d1d;
    padding: 16px;
}

.logo_title,.header , .navbar ul li a{
    color: aliceblue;
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar ul li a{
    padding: 12px;
    margin: 6px;
}

.navbar ul li a:hover{
    color: #1d1d1d;
    background-color: #ffb42a;
    border-radius:4px ;
}

/* ============================== HEADER ==============================  */
.header{
    background: url("./img/Pur-Restaurant-Paris.jpg") no-repeat center center/cover;
    height: 93.9vh;
}

.header .header_content{
    background-color: black 0.65;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;

}


/* Bouton autre */
.btn_cta{ background-color: #ffb42a;}

.btn_cta:hover{ background-color: #1d1d1d ; color: #ffb42a;}

.header .header_content .header_0{padding-bottom: 12px;}

.cta_catch{  font-size: 22px; margin-bottom: 22px;}


/* ============================== Localisation ==============================  */

.location_section{
    background-color: #fafafa;
}

.location_section_top_text{
    font-size: 39px;
    font-weight: 700px;
    padding-bottom: 30px;
}


.locations{
    display: flex;
    padding: 16px;
}

.location{
    padding: 30px 30px 15px 30px;
}

.location_text{
    padding-top: 5px;
}