
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Réinitiliser la page par défaut */
body{

    /* Paramètre par défaut */
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   /* pour que le calcul se fasse bien au niveau de nos boites */

    /* -------- */
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration :none;      /*enlever les underline du a*/
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #1d1d1d;
    padding: 16px;
}

.logo_title, .navbar ul li a{
    color: aliceblue;
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar ul li a{
    padding: 12px;
    margin: 6px;
}

.navbar ul li a:hover{
    color: #1d1d1d;
    background-color: #ffb42a;
    border-radius:4px ;
}


